:root {
  --text-color: #ff9c06;
}

header {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  text-align: center;
  margin-top: 2em;
  font-size: x-large;
}
h1 {
  margin-bottom: 0em;
}

body {
  background-color: #3a3737;
}
.startpage-flexcontainer {
  display: grid;
  place-items: center;
  margin-top: 5em;
}

.welcomeImg {
  width: 90vw;
  height: auto;
}
.info-resturant {
  color: var(--text-color);
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
  padding: 0.8em 2em 0 2em;
}
.phone {
  color: var(--text-color);
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
  padding-top: 3em;
}

.meny-btn {
  background-color: #ff9c06;
  padding: 0.8em 1em 0.8em 1em;
  border-radius: 0.7em;
  /* margin-top: 4em; */

  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
footer {
  font-family: "Julius Sans One", sans-serif;
  color: var(--text-color);
  font-size: 13px;
  text-align: center;
  

}

footer > img {
	width: 40px;
}
.profilsize{
	width:40px;
}
.adress {
  margin-bottom: 0;
  margin-top: 0.3em;
  color: var(--text-color);
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
}
