:root {
  --text-color: #ff9c06;
}
main {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* height: 80vh; */
}
.cart{
	height: 30px;
	position: absolute;
	top: 15px ;
	right: 15px;
}
body {
  align-items: center;
}

.menyFoodDiv {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.meny-container {
  border: 1px solid var(--text-color);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  background-color: #2a2929;
}
.meny-container > h2 {
  grid-column: span 2;
  margin-top: 0em;
}
.food-picture {
  width: 125px;
  height: 125px;
}

.description-food {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
.description-food > p {
  margin-top: 0em;
}
.Price-btn {
  display: flex;
  justify-content: space-around;
}

.frontPicture {
  display: flex;
  background-repeat: no-repeat;
  min-height: 10px;
  min-width: 100px;
}

h1,
h2 {
  text-align: center;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}
.strength-section {
  color: var(--text-color);
  display: flex;
}

.add-btn {
  background-color: var(--text-color);
  width: 6.4em;
  height: 2em;
  border-radius: 1em;
  font-size: 12px;
  place-self: center;
}
