
.valid-message {
    visibility: visible;
    margin: 0;
    place-self: center;
}
.invalid-message{
    visibility: visible;
    color: rgb(177, 36, 36);
    margin: 0;
    place-self: center;
}
.error {
    margin: 0;
}
.errors {
    margin: 0;
}
.shown {
    margin: 0;
    visibility: hidden;
}


